In [3]:
import pandas as pd
import numpy as np

median_grades = {
    'Adam': {'Math': 11, 'Science': 9, 'Reading': 16, 'History': 13.5},
    'Anna': {'Math': 12, 'Science': 11, 'Reading': 8.5, 'History': 10},
    'James': {'Math': 11, 'Science': 18, 'Reading': 11.5, 'History': 9},
    'Corey': {'Math': 7, 'Science': 15.5, 'Reading': 11, 'History': 14},
    'Alisha': {'Math': 9.5, 'Science': 12, 'Reading': 10.5, 'History': 14},
    'Jodie': {'Math': 15, 'Science': 18.5, 'Reading': 7, 'History': 12},
    'John': {'Math': 18, 'Science': 15.5, 'Reading': 11, 'History': 7.5}
}

# create DataFrame from the dictionary
df = pd.DataFrame(median_grades)

In [4]:
# Questions 1: calc the mean for each subject

# transpose DataFrame to swap the indexes to the subjects instead of names
df_transposed = df.T

math_mean = df_transposed['Math'].mean()
print(math_mean)

science_mean = df_transposed['Science'].mean()
print(science_mean)

reading_mean = df_transposed['Reading'].mean()
print(reading_mean)

history_mean = df_transposed['History'].mean()
print(history_mean)

11.928571428571429
14.214285714285714
10.785714285714286
11.428571428571429

In [27]:
# find meadian grade in math for all students

math_median = df_transposed['Math'].median()
math_median

11.0

In [5]:
# calc mode for history

history_mode = df_transposed['History'].mode()
history_mode

0    14.0
Name: History, dtype: float64

In [15]:

# Question 2:
# Given the following grades from Question 1, calculate the correlation between the different subjects

df_transposed.corr()

             Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000

In [16]:
# What two subjects have the strongest correlation?
df_transposed.stack().idxmax()

('Jodie', 'Science')

In [31]:
grades = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]

# Question 3: write a Python function desc_stats() that takes a list of numbers and prints the stats calculations

def desc_stats(grades):
    # convery grades to Pandas series
    grades_series = pd.Series(grades)
    # use .describe
    stats = grades_series.describe()
    range = grades_series.max() - grades_series.min()
    variance = grades_series.var()
    mode = grades_series.mode()
    print(stats)
    print(f'range: {range}')
    print(f'variance: {variance}')
    print(f'mode: {mode}')

# call function

desc_stats(grades)

count    23.000000
mean     59.478261
std      26.350556
min       5.000000
25%      46.500000
50%      60.000000
75%      81.000000
max      99.000000
dtype: float64
range: 94
variance: 694.3517786561266
mode: 0    60
dtype: int64